.general {
	display: flex;
	align-items: center;
	margin: 2.375rem 0 1.5rem;
}

.general > h2 {
	font-size: 1.125rem;
	font-weight: 700;
}

.general > p {
	font-size: 0.875rem;
	font-weight: 500;
	margin-left: auto;
}

.stays {
	margin-inline: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: calc(50px + 1.5rem) 32px;
  margin-bottom: 10rem;
}

@media only screen and (max-width: 48rem) {
	.stays {
		justify-content: center;
	}
}

@media only screen and (min-width: 48rem) {
  .general {
    margin-top: 6rem;
  }
}